/* General */
body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li{
    color: white;
    font-size: 14px;
}

.main-title{
    color: gray;
    margin: 0 0 10px 0;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}

.title-line {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 65px;
    border-bottom: 2px solid rgb(71, 71, 71);
    width: 15%;
}



/* NavBar */
header, .navbar{
    background-color: white;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 55px;
}

.navbar-brand{
    padding: 0;
    color: black;
}

.navbar-brand:hover{
    color: gray;
}

#navbar-links a{
    color: black;
}

.navbar-expand-lg .navbar-nav .navbar-link{
    padding: 1rem .8rem;
}


/* Slider */
.container-fluid{
    padding: 0;
}

ol{
    list-style: none;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item{
    height: 90vh;
}

#mainSlider .carousel-caption h2{
    font-weight: bold;
    /*-webkit-text-stroke: 1px black;*/
    font-size: 40px;
    margin-bottom: 30px;
}

.carousel-indicators .active{
    background-color: black;
}

.main-btn{
    position: relative;
    bottom: 20px;
    text-decoration: none;
    background-color: white;
    color: black;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover{
    color: white;
    background-color: transparent;
    border-color: black;

}


/*Seção dos Especialistas*/
#specialists-say .container{
    height: 90vh;
}

.specialists-say{
    background-color: rgb(20, 20, 20);
}

.specialist-img{
    width: 250px;  
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.specialist-title{
    font-size: 16px;
    color: rgb(138, 138, 138);
    text-transform: uppercase;
    font-weight: bold;
}


/*Seção das fonte de nutrientes*/
.nutrients {
    text-align: center;
    margin-bottom: 50px;
}

.nutrients b{
    color: black;
    font-weight: 300;

}

.nutrients .btn i, .nutrients h4{
    transition: .5s;
    margin-bottom: 20px;
}

.nutrients .btn i{
    font-size: 36px;
    color: #444;
}

.nutrients h4{
    font-size: 20px;
    color: #444;
    text-transform: uppercase;
}

.nutrients:hover > .btn i{
    font-size: 30px;
    color: rgb(116, 0, 0);
}

.nutrients:hover > h4{
    font-size: 17px;
    color: rgb(116, 0, 0);
}